{% extends 'ecom/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="card-box" style="max-width:900px;margin:0 auto;">
  <h3 style="margin-top:0;">Új termék hozzáadása</h3>
  <p style="color:#9ca3af;">Töltsd ki a termék adatait. A kategória határozza meg, hogy Raceboy, Escobar vagy Közös blokkban jelenjen meg.</p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="form-group"><label>Név</label>{% render_field productForm.name class="form-control" placeholder="Pl. Raceboy Signature Hoodie" %}</div>
        <div class="form-group"><label>Kategória</label>{% render_field productForm.category class="form-control" %}</div>
        <div class="form-group"><label>Rövid leírás</label>{% render_field productForm.description class="form-control" placeholder="Rövid, tömör leírás" %}</div>
      </div>
      <div class="col-md-6">
        <div class="form-group"><label>Ár (Ft)</label>{% render_field productForm.price class="form-control" placeholder="9990" %}</div>
        <div class="form-group"><label>Termékkép</label>{% render_field productForm.product_image class="form-control" %}</div>
      </div>
    </div>
    <button type="submit" class="btn btn-main">Mentés</button>
  </form>
</div>
{% endblock content %}
